.dark-foreground {
    color: $color-control-dark-foreground;
    fill: $color-control-dark-foreground;
    stroke: $color-control-dark-foreground;
}

@import "./button";
@import "./checkbox";
@import "./context-menu.scss";
@import "./input.scss";
@import "./select";
@import "./slider";
@import "./numinput";