.baklava-node {
    max-width: 20rem;
    background: var(--baklava-node-color-background);
    color: var(--baklava-node-color-foreground);
    border-radius: var(--baklava-node-border-radius);
    position: absolute;
    filter: drop-shadow(0 0 3px #000000cc);
    transition: box-shadow var(--baklava-visual-transition), filter var(--baklava-visual-transition);

    &:hover {
        box-shadow: 0 0 0 0.35px var(--baklava-node-color-selected);
    }

    &.--selected {
        z-index: 5;
        box-shadow: 0 0 0 1px var(--baklava-node-color-selected);
    }

    &.--dragging {
        filter: drop-shadow(0 0 7px #000000cc);

        & > .__title {
            cursor: grabbing;
        }
    }

    & > .__title {
        display: flex;
        background: var(--baklava-node-title-color-background);
        color: var(--baklava-node-title-color-foreground);
        padding: 0.4em 0.75em;
        border-radius: var(--baklava-node-border-radius) var(--baklava-node-border-radius) 0 0;
        cursor: grab;

        & > *:first-child {
            flex-grow: 1;
        }

        & > .__title-label {
            pointer-events: none;
        }

        & > .__menu {
            position: relative;
            cursor: initial;
        }
    }

    &[data-node-type^="__baklava_"] > .__title {
        background: var(--baklava-group-node-title-color-background);
        color: var(--baklava-group-node-title-color-foreground);
    }

    & > .__content {
        padding: 0.75em;

        & > div > div {
            margin: 0.5em 0;
        }
    }

    &.--two-column > .__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: ". ." ". .";

        & > .__inputs {
            grid-row: 1;
            grid-column: 1;
        }

        & > .__outputs {
            grid-row: 1;
            grid-column: 2;
        }
    }
}
