.node {
    max-width: 20rem;
    background: $color-node-background;
    color: $color-node-foreground;
    border-radius: $border-radius-node;
    position: absolute;
    filter: drop-shadow(0 0 3px #000000cc);
    transition: box-shadow $visual-transition;

    &:hover {
        box-shadow: 0 0 0 0.35px $color-node-selected;
    }

    &.--selected {
        z-index: 5;
        box-shadow: 0 0 0 1px $color-node-selected;
    }

    & > .__title {
        background: $color-node-title-background;
        color: $color-node-title-foreground;
        padding: 0.4em 0.75em;
        border-radius: $border-radius-node $border-radius-node 0 0;
    }

    & > .__content {
        padding: 0.75em;

        & > div {
            margin: 0.5em 0;
        }

    }

}