.sidebar {

    position: absolute;
    height: 100%;
    width: 25%;
    min-width: 300px;
    top: 0;
    right: 0;
    z-index: 1000;

    background-color: $color-sidebar-background;
    color: $color-sidebar-foreground;
    box-shadow: 0px 0px 15px black;
    
    overflow-x: hidden;
    padding: 1em;
    
    transform: translateX(100%);
    transition: transform 0.5s;

    &.--open {
        transform: translateX(0);
    }

    & .__close {
        font-size: 2em;
        border: none;
        background: none;
        color: inherit;
        cursor: pointer;
    }

}