.baklava-textarea {
    color: var(--baklava-control-color-foreground);
    border-radius: var(--baklava-control-border-radius);
    position: relative;
    cursor: pointer;
    width: calc(100% - 0.5em);
    & > .__text {
        margin-bottom: 0.5em;
    }
}
