@import "./utils";
@import "./animations";
@import "./dark/dark";

@import "./node-editor/node-editor";

.overlay {
    z-index: 100;
}

.checkbox-container {
    display: flex;
}

.checkmark-container {
    display: flex;
    border: 1px solid red;
    border-radius: 2px;
}
