@import "./imports";
@import "./animations";
@import "./dark/dark";

@import "./node-editor/node-editor";

body {
    font-family: 'Lato', sans-serif;
}

.overlay {
    z-index: 100;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }