$color-primary: #5379B5;

$color-control-dark-background: #2C2C2C;
$color-control-dark-foreground: white;
$color-control-dark-hover: #4C4C4C;
$color-control-dark-active: #6C6C6C;

$border-radius: 3px;
$visual-transition: 0.1s linear;

$iftypes: ();