$color-pattern-default: #232323;
$color-pattern-line: #131313;
$color-pattern-black: #00000022;

@mixin backgroundpattern() {
    background-color:$color-pattern-default;
    background-image: linear-gradient($color-pattern-black 2px, transparent 2px),
        linear-gradient(90deg, $color-pattern-black 2px, transparent 2px),
        linear-gradient($color-pattern-line 1px, transparent 1px),
        linear-gradient(90deg, $color-pattern-line 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}