.baklava-editor {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    outline: none !important;
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    touch-action: none;

    .background {
        background-color: var(--baklava-editor-background-pattern-default);
        background-image: linear-gradient(var(--baklava-editor-background-pattern-black) 2px, transparent 2px),
            linear-gradient(90deg, var(--baklava-editor-background-pattern-black) 2px, transparent 2px),
            linear-gradient(var(--baklava-editor-background-pattern-line) 1px, transparent 1px),
            linear-gradient(90deg, var(--baklava-editor-background-pattern-line) 1px, transparent 1px);
        background-repeat: repeat;
        width: 100%;
        height: 100%;
        pointer-events: none !important;
    }

    .selection-box {
        position: absolute;
        border: 1px solid var(--baklava-selectionbox-color-border);
        background-color: var(--baklava-selectionbox-color-background);
        pointer-events: none;
        opacity: 0.5;
    }

    &.--start-selection-box {
        cursor: crosshair;
    }

    & *:not(input):not(textarea) {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        touch-action: none;
    }

    .input-user-select {
        user-select: auto;
        -moz-user-select: auto;
        -webkit-user-select: auto;
    }

    & *,
    & *::after,
    & *::before {
        box-sizing: border-box;
    }

    &.--temporary-connection {
        cursor: crosshair;
    }

    .connections-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none !important;
    }

    .node-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        & * {
            pointer-events: all;
        }
    }
}

.baklava-ignore-mouse * {
    pointer-events: none !important;
}
.baklava-ignore-mouse .__port {
    pointer-events: all !important;
}
