.baklava-node-palette {
    position: absolute;
    left: 0;
    top: 60px;
    width: 250px;
    height: calc(100% - 60px);
    z-index: 3;
    padding: 2rem;
    overflow-y: auto;
    background: #0003;
    color: white;

    & h1 {
        margin-top: 2rem;
    }
}

.baklava-node.--palette {
    position: unset;
    margin: 1rem 0;
    cursor: grab;

    &:first-child {
        margin-top: 0;
    }

    & .__title {
        padding: 0.5rem;
    }
}

.baklava-dragged-node {
    position: absolute;
    width: calc(250px - 4rem);
    height: 40px;
    z-index: 4;
    pointer-events: none;
}
