.baklava-sidebar {
    position: absolute;
    height: 100%;
    width: 25%;
    min-width: 300px;
    max-width: 90%;
    top: 0;
    right: 0;
    z-index: 1000;

    background-color: var(--baklava-sidebar-color-background);
    color: var(--baklava-sidebar-color-foreground);
    box-shadow: none;

    overflow-x: hidden;
    padding: 1em;

    transform: translateX(100%);
    transition: transform 0.5s;

    &.--open {
        transform: translateX(0);
        box-shadow: 0px 0px 15px black;
    }

    & .__resizer {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4px;
        cursor: col-resize;
    }

    & .__header {
        display: flex;
        align-items: center;

        .__node-name {
            margin-left: 0.5rem;
        }
    }

    & .__close {
        font-size: 2em;
        border: none;
        background: none;
        color: inherit;
        cursor: pointer;
    }
}
