.baklava-toolbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 3;
    padding: 0.5rem 2rem;
    background: var(--baklava-toolbar-background);
    color: var(--baklava-toolbar-foreground);
    display: flex;
    align-items: center;
}

.baklava-toolbar-entry {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.baklava-toolbar-button {
    color: var(--baklava-toolbar-foreground);
    background: none;
    border: none;
    transition: color var(--baklava-visual-transition);

    &:not([disabled]) {
        cursor: pointer;
    }

    &:hover:not([disabled]) {
        color: var(--baklava-control-color-primary);
    }

    &[disabled] {
        color: var(--baklava-control-color-disabled-foreground);
    }
}
