.node-palette {
    position: absolute;
    left: 0;
    top: 60px;
    width: 250px;
    height: calc(100% - 60px);
    z-index: 3;
    padding: 2rem;
    overflow-y: auto;
    background: #0003;
    color: white;
}

.node-palette h1 {
    margin-top: 2rem;
}
