.node.--type-OutputNode > .__content {
    background-color: teal;
}

.node.--type-MathNode .node-interface.--input {
    text-align: right;
    padding-left: unset;
    padding-right: 0.5em;
}

.node.--type-MathNode .node-interface.--input > .__port {
    left: unset;
    right: -1.1em;
}