.baklava-node-interface[data-interface-type="string"] {
    --baklava-node-interface-port-color: green;
}

.baklava-node-interface[data-interface-type="number"] {
    --baklava-node-interface-port-color: red;
}

.baklava-node-interface[data-interface-type="boolean"] {
    --baklava-node-interface-port-color: purple;
}
