name: Deploy Beta

on: workflow_dispatch

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Use Node.js 16
              uses: actions/setup-node@v2
              with:
                  node-version: "16"
            - name: Install dependencies
              run: yarn install --frozen-lockfile
            - name: Build
              run: yarn run build
            - name: Publish
              run: |
                  git config --global user.name 'BaklavaJS CICD'
                  git config --global user.email 'newcat@users.noreply.github.com'
                  echo //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }} > .npmrc
                  lerna version prerelease --preid alpha --yes
                  lerna publish from-package --dist-tag next --yes --no-verify-access
            - name: Build docs
              run: |
                  yarn run generate-api-docs
                  yarn run docs:build
            - name: Azure login
              uses: azure/login@v1
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}
            - name: Publish docs
              uses: azure/CLI@v1
              with:
                  inlineScript: |
                      az storage blob sync --account-name baklavajs -c '$web' -s "./docs/.vuepress/dist/"
            - name: Purge CDN endpoint
              uses: azure/CLI@v1
              with:
                  inlineScript: |
                      az cdn endpoint purge --content-paths "/*" --profile-name "baklavajs" --name "baklavajs" --resource-group "Private" --no-wait
            - name: Azure Logout
              run: az logout
              if: always()
